@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #EEF1EA;
  color: #2A4E50;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}