.worker-table {
    width: 100%;
    margin-top: 30px;

    .worker-table-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        h1 {
            font-size: 28px;
        }

        > div {
            display: flex;
            gap: 10px;
            margin-left: auto;

            > * {
                background-color: #E7EBE3;
                border: 2px solid #CCCCCC;
                padding: 10px;
                border-radius: 10px;
                font-size: 14px;
                color: #929292;

            }
        }
    }
    
    table {
        width: 100%;
        border-spacing: 10px;

        th, td {
            padding-top: 10px;
        }

        thead {
            tr {   
                th {
                    text-align: left;
                    color: #889E6B;
                    font-size: 12px;
                    padding-bottom: 10px;
                    background-color: #E1E7DA;
                
                    &:first-child {
                        padding-left: 10px;
                        border-radius: 10px 0 0 10px;
                    }

                    &:last-child {
                        border-radius: 0 10px 10px 0;
                    }
                }
            }

        }

        p {
            font-size: 16px;
            font-weight: 700;
        }

        p.cell-desc {
            font-size: 12px;
            color: #6B7C7D;
        }

        div.col-name {
            display: flex;
            flex-direction: row;
            gap: 15px;

            img {
                width: 70px;
                height: 70px;
                border-radius: 10px;
            }

            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}